select{
    height: 25px;
    width: 100px;
    background-color: rebeccapurple;
    margin-right: 15px;
}

input{
    height: 25px;
    width: 250px;
}

form{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
